:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  width: 100%;  
  margin: 0;

}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.Container
{
  display: flex;
  justify-content: center;
  margin: 0;
}
.Converter{
  width: 90%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Inputs
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0c0c0c;
  border-radius: 30px;
  padding: 20px 0px;
  width: 350px;
}

.Inputs1
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0c0c;
  border-radius: 30px;
  width: 350px;
  gap: 20px;
}

.InputsContainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}

.Header{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  font-size: 16px;
}
.Output{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: fit-content;
  transition: 0.5s;
  padding: 20px;
}
.OutputContainer{
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="file"] {
  visibility: hidden;
  width: 200px;
  height: 32px;
  position: relative;
  
}
input[type="file"]:before {
  content: attr(placeholder);
  visibility: visible;
  position: absolute;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 32px 8px 8px;
  color: rgba(209, 196, 196, 0.3);
  overflow: hidden;
  background-color: #424242;
  border-radius: 20px;
  text-overflow:ellipsis;
  cursor: pointer;
  white-space: nowrap;
}
input[type="file"]:after {
  content: "\1F4C2";
  visibility: visible;
  position: absolute;
  right: 8px;
  margin-top: 6px;
}
button{
  color:white;
  background-color: #424242;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
}
.GifOutput{
  border-radius: 20px;
  background-color: #0c0c0c;
}
.Settings{
  background-color: #0c0c0c;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 200px;
  height: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -2px;
  align-items: center;
  overflow: hidden;
}
.Setting{
  position: relative;
  height: 30px;
  padding: 20px;
}
input[type="range"] {
  -webkit-appearance: none; /* Usuwa domyślny wygląd w WebKit (Chrome, Safari) */
  -moz-appearance: none;    /* Usuwa domyślny wygląd w Firefox */
  appearance: none;         /* Usuwa domyślny wygląd w innych przeglądarkach */
  width: 100%;              /* Długość suwaka */
  background: #ddd;         /* Kolor tła suwaka */
  border-radius: 25px;       /* Zaokrąglone rogi suwaka */
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ffffff;      /* Kolor toru w Chrome/Safari */
  border-radius: 25px;       /* Zaokrąglone rogi toru w Chrome/Safari */
}

input[type="range"]::-moz-range-track {
  background: #ffffff;      /* Kolor toru w Firefox */
  border-radius: 25px;       /* Zaokrąglone rogi toru w Firefox */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Usuwa domyślny wygląd w WebKit (Chrome, Safari) */
  appearance: none;         /* Usuwa domyślny wygląd w innych przeglądarkach */
  width: 10px;              /* Szerokość suwaka */
  height: 10px;   
  scale: 2; 
  background: #05a7c4;      /* Kolor suwaka */
  border-radius: 50%;       /* Okrągły kształt suwaka */
  cursor: pointer;          /* Zmiana kursora na wskaźnik */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Cień na suwaku */
}

input[type="range"]::-moz-range-thumb {
  width: 10px;              /* Szerokość suwaka w Firefox */
  background: #ff5733;      /* Kolor suwaka w Firefox */
  border-radius: 50%;       /* Okrągły kształt w Firefox */
  cursor: pointer;          /* Zmiana kursora na wskaźnik */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Cień na suwaku */
}

input[type="range"]:focus {
  outline: none; 
}
input[type="text"]{
  border-radius: 20px;
  padding: 10px;
}

@media screen and (max-width: 600px){
  .Header{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    font-size: 12px;
  }
}